body {
    background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);            
}

#showcase {
      background-image:url('http://traversymedia.com/downloads/assets/beachshowcase.jpg');
  background-size:cover;
  background-position:center;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 20px;
}

#showcase .button {
    font-size:18px;
    text-decoration:none;
    background-color: #37B9FF;
    color:black;
    border:black 1px solid;
    padding:10px 20px;
    border-radius:10px;
    margin-top:20px;
  }
  .showcase .button:hover {
    background-color: #555;
  }

.about .button {
    font-size:18px;
    text-decoration:none;
    background-color: #37B9FF;
    color:black;
    border:black 1px solid;
    padding:10px 20px;
    border-radius:10px;
    margin-top:20px;
  }
  .about .button:hover {
    background-color: #555;
  }

.projects .button {
    font-size:18px;
    text-decoration:none;
    background-color: #37B9FF;
    color: black;
    border: black 1px solid;
    padding:10px 20px;
    border-radius:10px;
    margin-top:20px;
  }
  .projects .button:hover {
    background-color: #555;
  }

  .projects2 .button {
    font-size:18px;
    text-decoration:none;
    background-color: #37B9FF;
    color: black;
    border: black 1px solid;
    padding:10px 20px;
    border-radius:10px;
    margin-top:20px;
  }
  .projects2 .button:hover {
    background-color: #555;
  }

.contact .button {
    font-size:18px;
    text-decoration:none;
    background-color: #37B9FF;
    color: black;
    border: black 1px solid;
    padding:10px 20px;
    border-radius:10px;
    margin-top:20px;
  }
  .contact .button:hover {
    background-color: #555;
  }


nav {
    left: 200px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: rgb(203, 203, 250);
  }
  
  li {
    float: right;
    
  }
  
  li a {
    display: block;
    color: darkred;
    text-align: center;
    padding: 9px 6px;
    text-decoration: none;
    
  }
  
  /* Change the link color to black on hover */
  li a:hover {
    background-color: black;
  }

h1 {
    font-size: 75px;
    color: #330867;
    }
h3 {
    color: #330867;
}

.about {
    background-size:cover;
    background-position:center;
    height:120vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 80px;    
}

.projects {
    background: size 100%;;
    background-position:center;
    height: 90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 50px;
}

.projects2 {
    background: size 100%;;
    background-position:center;
    height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 50px;
}
.card-deck {
    margin: 3px;
    height: 290px;
    width: 1200px;
    position: relative;
    align-content: left;
    padding: 2%;
    /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
    /* background-color: #6A78FF;     */
}

.contactinfo {
    text-decoration-color: #926239;
}

.contact {
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
}

.logo {
    height: 5px;
    width: 5px;
}
.two {
    height: 50px;
    width: 500px;
    position: relative;
    align-content: center;
    font-size: 24px;
    list-style-image: inherit;
}

#gradient
{
  width: 100%;
  height: 800px;
  padding: 0px;
  margin: 0px;
}

#angular-logo {
    width: 25%;
    height: 25%;
     
}


/* back to top button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    /* font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px; */
    font-size:18px;
    text-decoration:none;
    background-color: #37B9FF;
    color: black;
    border: black 1px solid;
    padding:10px 20px;
    border-radius:10px;
    margin-top:20px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

 .button {
    font-size:18px;
    text-decoration:none;
    background-color: #37B9FF;
    color: black;
    border: black 1px solid;
    padding:10px 20px;
    border-radius:10px;
    margin-top:20px;
  }
.button:hover {
    background-color: #555;
  }