body {
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            
}

#showcase {
      background-image:url('http://traversymedia.com/downloads/assets/beachshowcase.jpg');
  background-size:cover;
  background-position:center;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 20px;
}

#showcase .button {
    font-size:18px;
    text-decoration:none;
    background-color: #B5BEC6;
    color:#45627A;
    border:#45627A 1px solid;
    padding:10px 20px;
    border-radius:10px;
    margin-top:20px;
  }

.about .button {
    font-size:18px;
    text-decoration:none;
    background-color: #B5BEC6;
    color:#45627A;
    border:#45627A 1px solid;
    padding:10px 20px;
    border-radius:10px;
    margin-top:20px;
  }

.projects .button {
    font-size:18px;
    text-decoration:none;
    background-color: #B5BEC6;
    color:#45627A;
    border:#45627A 1px solid;
    padding:10px 20px;
    border-radius:10px;
    margin-top:20px;
  }

.contact .button {
    font-size:18px;
    text-decoration:none;
    background-color: #B5BEC6;
    color:#45627A;
    border:#45627A 1px solid;
    padding:10px 20px;
    border-radius:10px;
    margin-top:20px;
  }

nav {
    left: 200px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: rgb(203, 203, 250);
  }
  
  li {
    float: right;
    
  }
  
  li a {
    display: block;
    color: darkred;
    text-align: center;
    padding: 9px 6px;
    text-decoration: none;
    
  }
  
  /* Change the link color to black on hover */
  li a:hover {
    background-color: black;
  }

h1 {
    font-size: 75px;
    color: #45627A;
    }
h3 {
    color: #45627A;
}

.about {
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;    
}

.projects {
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
}
.card-deck {
    margin: 3px;
    height: 290px;
    width: 1200px;
    position: relative;
    align-content: left;
    padding: 2%;
    background-color: #45627A;    
}

.contactinfo {
    text-decoration-color: #926239;
}

.contact {
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
}

.logo {
    height: 5px;
    width: 5px;
}
.two {
    height: 50px;
    width: 500px;
    position: relative;
    align-content: center;
    font-size: 24px;
    list-style-image: inherit;
}
