.jumbotron {
    background-color: darkblue;
    padding-top: 8rem;
    padding-bottom: 8rem;

}

.jumbotron-header {
    background-color: darkblue;
    padding-top: 50px;
    font-weight: 400;
}

.jumbotron-container {
    background-color: darkblue;
    max-width: 60rem;
}